body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 6fr 8fr 1fr; 
  height: 100vh; 
}

#front-page{
  color-scheme: light dark;
  background-color: light-dark(#f4f4f4, #222);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="button"][value="Start"]{
  height: 80px;
  width: 140px;
  font-size: 25px;
  color-scheme: light dark;
  background-color: light-dark(#fff, #444);
}

.coluna {
  padding: 20px;
  overflow-y: auto;
}

.coluna.image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color-scheme: light dark;
  background-color: light-dark(#f4f4f4, #222);
  border-right: 2px solid light-dark(#ccc, #111); ;
  overflow: hidden;
}

#button_wrapper {
  position: relative;
  display: grid;
  gap: 5px;
  margin: 5px;
  grid-template-columns: 90px 2fr 90px;
}

#button_wrapper_dir {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

#button_wrapper_esq {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

input[type="text"] {
  height: 50%;
  margin: 2px;
  border-radius: 5px;
  font-size: clamp(12px, 2vw, 36px);
  border: 2px solid #333;
  background-color: rgba(255, 255, 255, 0.25);
  color: #000;
  font-weight: bolder;
  justify-items: center;
  align-self: center;
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none; 
}

#size_button_wrapper{
  display: flex;
  justify-content: right;
  gap: 2px;
}

input[type="button"][class="jsBtn"]{
  width: 60px;
  color-scheme: light dark;
  background-color: light-dark(#fff, #444);
}

input[type="button"][class="jsBtn selecionado"] {
  width: 60px;
  color-scheme: light dark;
  background-color: light-dark(#fff, #444);
  outline: 5px solid black;
}

#galeria-imagens {
  position: relative;
  top: 0px;
  width: 600px;               
  height: 600px;
  display: flex;               
  justify-content: center;     
  align-items: center;
  margin: 0 auto;
}

#galeria-imagens img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;               
  height: 100%;      
  pointer-events: none; 
}


/*COLUNA DO MEIO*/

.coluna.picker {
  color-scheme: light dark;
  background-color: light-dark(#fff, #444);
  overflow-y: hidden;
}

/* Nav */
nav ul {
  list-style: none;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 5%;
  height: min(115px, 30%);
  padding: 5px;
  margin: 0 0 10px 0;
  scrollbar-width: thin;
  align-items: center;
}

nav ul::-webkit-scrollbar {
  height: 8px; 
}

nav li{
  width: min(96px, 15%);
  aspect-ratio: 1 / 1;
}

nav a {
  flex: 0 0 auto;
  width: min(90px, 100%);               
  aspect-ratio: 1 / 1;            
  display: flex;
  align-items: center;
  justify-content: center;       
  font-size: 0;   
  cursor: pointer;   
}

img.menu{
  height:min(100%,90px);
  object-fit: contain;
}

nav a.selecionado {
  outline: 5px solid black;
}

nav a:hover {
  color-scheme: light dark;
  outline: 5px solid #007BFF;
}

.category {
  display: none;
}

.category.active {
  display: block;                           
  max-height: min(700px,10%);                     
  overflow-y: auto;
  color-scheme: light dark;
  border: 2px solid light-dark(#ccc, #222);                      
  border-radius: 10px;
}

.grid-itens {
  display: grid;
  max-height: 700px;
  grid-template-columns: repeat(auto-fit, min(150px, 25%));
  overflow-x: hidden;
  overflow-y: scroll;
}

.item {
  flex: 0 0 auto;
  aspect-ratio: 1 / 1;
  width: 90%;
  height: 90%;            
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid light-dark(#ddd, #888);
  margin: 5px 5px;
  border-radius: 6px;
  cursor: pointer;
  background: light-dark(#fafafa, #aaa);
}

img.icon {
  object-fit: contain;
  height: 90%;
  width: 90%;
}

.item:hover {
  background: light-dark(#eee, #777);
}

.item.selecionado {
  background: light-dark(#007BFF, #005BAA);
  color: white;
  border-color: #0056b3;
}

#lista-selecionados {
  display: none;
}


/*POPUP DE CORES*/

#color-popup {
  display: none;
  position: absolute;
  top: 50px; 
  left: 50px;
  color-scheme: light dark;
  background: light-dark(#fff, #111);
  border: 1px solid light-dark(#ccc, #222);
  padding: 10px;
  display: inline-block;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 99999999;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(12, 50px); /* 3 colunas */
  margin-bottom: 10px;
}

.color-btn {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  cursor: pointer;
}

.color-btn.selecionado {
  border-color: black;
}

.confirm-btn {
  display: block;
  width: 85%;
  height: 75px;
  padding: 5px;
  background: #444;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/*COLUNA DA ESQUERDA*/

.coluna.button {
  place-items: center;
  color-scheme: light dark;
  background-color: light-dark(#f4f4f4, #222);
  border-left: 1px solid light-dark(#ccc, #222);
  overflow: hidden;
}

input[type="color"] {
  border-radius: 8px;     
  border: 2px solid #333;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

#menu-cores {
  display: flex;
  flex-direction: column; 
  gap: 10px;              
  height: 80%;
  padding: 10px;
  align-items: center;
}

#menu-cores .cor {
  width: 40px;
  height: 40px;
  border-radius: 8px;     
  cursor: pointer;
  border: 2px solid light-dark(#333,#000); 
}

#menu-cores .cor:hover {
  border: 2px solid #007BFf; 
}

input[type="button"] {
  display: flex;
  background-color: transparent;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  width: min(80px, 100%);
  aspect-ratio: 1/1;
  font-size: 0px;
  cursor: pointer;
  transition: 0.3s;
  background-size: contain;
}

input[type="button"][value="Open"] {
  background-image: url("./src/Open.png");
}

input[type="button"][value="Download"] {
  background-image: url("./src/Download.png");
}

input[type="button"][value="Save"] {
  background-image: url("./src/Save.png");
}

input[type="button"][value="Reset"] {
  background-image: url("./src/Reset.png");
}

input[type="button"][value="Lock"] {
  background-image: url("./src/Lock.png");
}

input[type="button"][value="Color"] {
  background-image: url("./src/Color.png");
}

input[type="file"] {
  display: none;
}

#Lock.botao-inativo {
  background-image: url("./src/Lock_Open.png");
}

input[type="button"]:hover {
  outline: 3px solid light-dark(#222, #ccc);
}

@media (max-width: 1450px) {
  .container {
    grid-template-columns: 1fr;   
    grid-template-rows: 6fr 6fr 1fr;     
    height: 1350;                 
  }

  .coluna {
    padding: 10px; 
  }

  .coluna.image {
    position: relative;
    justify-content: flex-end;
  }

  #galeria-imagens {
    max-width: max(300px,100%);
    max-height: max(300px,100%); 
    width: auto;
    aspect-ratio: 1/1;
    top: 0px;
  }

  input[type="text"] {
    border: 2px solid #333;
    background-color: rgba(255, 255, 255, 0.25);
    color: #000;
    font-weight: bolder;
  }

  .grid-itens {
    display: grid;
    max-height: 200px;
    grid-template-columns: repeat(auto-fit, min(150px, 24%));
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .coluna.button {
    display: flex;
    flex-direction: row ;
    place-items: center;
    border-top: 1px solid light-dark(#333,#000);
    overflow: hidden;
  }

  #menu-cores {
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    gap: 2px;              
    width: 90%;
    padding: 10px;
    align-items: center;
    overflow-y: hidden;
  }

  #menu-cores .cor {
    height: 100%;
    width: min(30px,12%);
    aspect-ratio: 1 / 1;
    border-radius: 4px;     
    cursor: pointer;
    color-scheme: light dark;
    border: 1px solid light-dark(#333,#000); 
  } 

  .color-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, min(80px,6vw)); 
    margin-bottom: 10px;
  }

  input[type="button"] {
    width: min(45px, 100%);
  }

  .color-btn {
    width: 100%;
    padding-top: 85%;
    height: 0;
    aspect-ratio: 1 / 1;
    border: 2px solid transparent;
    cursor: pointer;
  }

  #button_wrapper {
    position: absolute;
    width: 90%;
    grid-template-columns: 55px 1fr 55px;
    align-self: center;
  }

  input[type="button"][class="jsBtn"]{
     width: min(50px,5vh);
  }

  input[type="button"][class="jsBtn selecionado"] {
    width: min(50px,5vh);
  }

}
